body{
	background-image: url("./Background.jpg");
}	
img{
	width: 100%;	
}

/* The content div soround
  * every thing in the body
  * The css make content  smaller than the body itself
  * and centret.
  */
  
 h1{
	margin-left: 50%;
 }
#content {
	width: 75%;
	margin: auto;
}

#bleDeviceList{
	
}	
#messageInput{
	
}
#list{
	background-color: red;
}

/* width will be 100% of content */
#refreshButton{
	width: 40%;
	margin-bottom: 10px;
}
#sendButton{
	width: 100%;
}
#ledOnButton{
	width: 40%;
	margin-bottom: 10px;
}
#ledOffButton{
	width: 40%;
	margin-bottom: 10px;
}