

body{
	background-image: url("./Background.jpg");
	font-family: 'Abel', sans-serif;
}	
img{
	width: 100%;	
}

/* The content div soround
  * every thing in the body
  * The css make content  smaller than the body itself
  * and centret.
  */
  
 h1{
	text-align: center;
 }
#content {
	width: 75%;
	margin: auto
	font-family: 'Abel', sans-serif;;
}

#bleDeviceList{
	
}	
#messageInput{
	
}
#list{
	background-color: red;
}

/* width will be 100% of content */
#refreshButton{
	width: 40%;
	margin-bottom: 10px;
}
#sendButton{
	width: 100%;
}
#ledOnButton{
	width: 40%;
	margin-bottom: 10px;
}
#ledOffButton{
	width: 40%;
	margin-bottom: 10px;
}
#currentRead{
	text-align:center;
}
#humid{
margin-left: 20%;
}
#temp{
margin-left: 30px;
}
#light{
	margin-left: 30px;
}
